#### **Ejercicio 1: Creación y manipulación de Series**
1. Crea una Serie que contenga las ventas de una tienda de lunes a viernes. Utiliza las siguientes cantidades:
   - Lunes: 100
   - Martes: 150
   - Miércoles: 200
   - Jueves: 50
   - Viernes: 300

In [55]:
#1. Crea una Serie que contenga las ventas de una tienda de lunes a viernes
import pandas as pd
serie_ejer1 = pd.Series({'Lunes': 100, 
                      'Martes': 150, 
                      'Miercoles': 200, 
                      'Jueves' : 50, 
                      'Viernes': 300})
print(serie_ejer1)

Lunes        100
Martes       150
Miercoles    200
Jueves        50
Viernes      300
dtype: int64

2. Realiza las siguientes operaciones sobre la Serie:
   - Accede al valor de las ventas del miércoles.
   - Calcula el total de ventas de la semana.
   - Filtra los días donde las ventas fueron mayores a 100.

In [56]:
# Accede al valor de las ventas del miércoles.
print('Valor de ventas del miercoles:',serie_ejer1['Miercoles'])

Valor de ventas del miercoles: 200

In [57]:
#- Calcula el total de ventas de la semana.
print('Total de ventas a la semana:',serie_ejer1.sum())

Total de ventas a la semana: 800

#### **Ejercicio 2: Creación y análisis de un DataFrame**
1. Crea un DataFrame que contenga los nombres y edades de las siguientes personas:
   - Ana, 23 años
   - Luis, 35 años
   - María, 29 años
   
2. Realiza las siguientes operaciones sobre el DataFrame:
   - Accede a la columna de los nombres.
   - Filtra las filas donde la edad sea mayor a 25.
   - Agrega una nueva columna con los salarios de las personas (Ana: 30000, Luis: 45000, María: 35000).

In [58]:
#Crea un DataFrame que contenga los nombres y edades de las siguientes personas:
data = {'Nombre': ['Ana', 'Luis', 'María'], 'Edad': [23, 35, 29]}
df_ejercicio2 = pd.DataFrame(data)
print(df_ejercicio2)

  Nombre  Edad
0    Ana    23
1   Luis    35
2  María    29

In [59]:
#Accede a la columna de los nombres.
print(df_ejercicio2['Nombre'])

0      Ana
1     Luis
2    María
Name: Nombre, dtype: object

In [60]:
#Filtra las filas donde la edad sea mayor a 25.
print(df_ejercicio2[df_ejercicio2['Edad'] > 25])

  Nombre  Edad
1   Luis    35
2  María    29

In [61]:
#   - Agrega una nueva columna con los salarios de las personas (Ana: 30000, Luis: 45000, María: 35000).
df_ejercicio2['Salario'] = [30000, 45000, 35000]
print(df_ejercicio2)

  Nombre  Edad  Salario
0    Ana    23    30000
1   Luis    35    45000
2  María    29    35000

#### **Ejercicio 3: Cálculos con DataFrames**
1. Crea un DataFrame con información de ventas de productos en una tienda:
   - Productos: "Laptop", "Mouse", "Teclado"
   - Ventas: 30, 120, 75
   - Precio por unidad: 1000, 50, 80

2. Calcula:
   - La venta total para cada producto (multiplicando el precio por unidad por las ventas).
   - El total de ingresos para todos los productos.

In [62]:
#1. Crea un DataFrame con información de ventas de productos en una tienda:

data = {'Nombre': ['Laptop', 'Mouse', 'Teclado'], 'Ventas': [30, 120, 75], 'Precio': [1000, 50, 80]}
df_ejercicio3 = pd.DataFrame(data)
print(df_ejercicio3)

    Nombre  Ventas  Precio
0   Laptop      30    1000
1    Mouse     120      50
2  Teclado      75      80

In [63]:
#- La venta total para cada producto (multiplicando el precio por unidad por las ventas).
Venta_Total = df_ejercicio3['Ventas']*df_ejercicio3['Precio']
df_ejercicio3['Venta_Total']=Venta_Total
print(df_ejercicio3)

    Nombre  Ventas  Precio  Venta_Total
0   Laptop      30    1000        30000
1    Mouse     120      50         6000
2  Teclado      75      80         6000

In [64]:
#   - El total de ingresos para todos los productos.
print('Venta total de todos los productos',df_ejercicio3['Venta_Total'].sum(),'pesos.')

Venta total de todos los productos 42000 pesos.

#### **Ejercicio 4: Transformación y limpieza de datos en DataFrames**
1. Crea un DataFrame con información de estudiantes y sus calificaciones en tres materias:
   - Estudiantes: "Ana", "Luis", "María", "Carlos"
   - Matemáticas: 90, 85, None, 78
   - Ciencia: 88, 92, 85, None
   - Historia: 75, None, 80, 90

2. Realiza las siguientes operaciones:
   - Rellena los valores faltantes con la media de cada columna.
   - Renombra las columnas de las materias en inglés (Math, Science, History).
   - Calcula la calificación promedio de cada estudiante.

In [65]:
#1. Crea un DataFrame con información de estudiantes y sus calificaciones en tres materias:
data = {'Estudiantes': ['Ana', 'Luis', 'María', 'Carlos'], 
        'Matemáticas': [90, 85, None, 78], 
        'Ciencia': [88, 92, 85, None],
        'Historia': [75, None, 80, 90]}
df_ejercicio4 = pd.DataFrame(data)
print(df_ejercicio4)

  Estudiantes  Matemáticas  Ciencia  Historia
0         Ana         90.0     88.0      75.0
1        Luis         85.0     92.0       NaN
2       María          NaN     85.0      80.0
3      Carlos         78.0      NaN      90.0

In [67]:
# Rellena los valores faltantes con la media de cada columna.
df_ejercicio4.at[2,'Matemáticas'] = round(df_ejercicio4['Matemáticas'].mean(),2)
df_ejercicio4.at[3,'Ciencia'] = round(df_ejercicio4['Ciencia'].mean(),2)
df_ejercicio4.at[4,'Historia'] = round(df_ejercicio4['Historia'].mean(),2)
df_ejercicio4

  Estudiantes  Matemáticas  Ciencia  Historia
0         Ana        90.00    88.00     75.00
1        Luis        85.00    92.00     81.67
2       María        84.33    85.00     80.00
3      Carlos        78.00    88.33     90.00
4         NaN          NaN      NaN     81.67

In [70]:
# Renombrar las columnas
df_ejercicio4.rename(columns={'Matemáticas': 'Math', 
                              'Ciencia': 'Science',
                              'Historia' : 'History'}, inplace=True)


print(df_ejercicio4)

  Estudiantes   Math  Science  History
0         Ana  90.00    88.00    75.00
1        Luis  85.00    92.00    81.67
2       María  84.33    85.00    80.00
3      Carlos  78.00    88.33    90.00
4         NaN    NaN      NaN    81.67