### **Ejercicio 1: Análisis de Rentabilidad de Productos**
Supongamos que eres analista de datos en una empresa de comercio electrónico. Tienes un DataFrame que lista varios productos, sus costos, precios de venta y unidades vendidas durante el último mes. Realiza un análisis para identificar qué productos son más rentables.

- Calcula la ganancia por producto y agrega una columna de rentabilidad
- Ordena los productos por rentabilidad

In [16]:
import pandas as pd

data = {
    'Producto': ['Computadora', 'Tablet', 'Smartphone', 'Auriculares', 'Cargador'],
    'Costo': [500, 300, 200, 50, 20],
    'Precio_venta': [1000, 500, 300, 100, 50],
    'Unidades_vendidas': [30, 50, 70, 100, 150]
}

df_productos = pd.DataFrame(data)

In [17]:


df_productos['Rentabilidad']=(df_productos['Precio_venta']-df_productos['Costo'])*df_productos['Unidades_vendidas']
df_productos.sort_values(['Rentabilidad'], ascending=False)

      Producto  Costo  Precio_venta  Unidades_vendidas  Rentabilidad
0  Computadora    500          1000                 30         15000
1       Tablet    300           500                 50         10000
2   Smartphone    200           300                 70          7000
3  Auriculares     50           100                100          5000
4     Cargador     20            50                150          4500

### **Ejercicio 2: Segmentación de Clientes por Edad y Consumo**
Como analista de marketing en una cadena de tiendas, debes segmentar a los clientes en grupos de edad y analizar sus patrones de gasto para optimizar las campañas de marketing.

- Agrupa los clientes por rangos de edad y calcula el gasto promedio (investiga el método `cut`)

In [35]:
data_clientes = {
    'Cliente': ['Ana', 'Luis', 'María', 'Carlos', 'Josefina'],
    'Edad': [25, 35, 45, 55, 65],
    'Gasto_mensual': [200, 400, 600, 800, 1000]
}

df_clientes = pd.DataFrame(data_clientes)

In [38]:
#df_clientes.head()
df_clientes['Tramos de edad']=pd.cut(df_clientes['Edad'], bins=3)
df_clientes = df_clientes.groupby('Tramos de edad')['Gasto_mensual'].mean()
df_clientes

C:\Users\oh271\AppData\Local\Temp\ipykernel_17176\1761233177.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_clientes = df_clientes.groupby('Tramos de edad')['Gasto_mensual'].mean()

Tramos de edad
(24.96, 38.333]     300.0
(38.333, 51.667]    600.0
(51.667, 65.0]      900.0
Name: Gasto_mensual, dtype: float64

### **Ejercicio 3: Optimización de Inventarios**
El departamento de operaciones necesita tu ayuda para ajustar los niveles de inventario basados en las ventas anuales y la rotación de productos.

- Calcula la tasa de rotación de inventario

In [39]:
data_inventario = {
    'Producto': ['Laptop', 'Mouse', 'Teclado', 'Monitor'],
    'Inventario_actual': [200, 1500, 800, 150],
    'Ventas_anuales': [600, 1800, 900, 300]
}

df_inventario = pd.DataFrame(data_inventario)

In [46]:
df_inventario['Tasa de Rotacion']=round( df_inventario['Ventas_anuales']/df_inventario['Inventario_actual'],1)
df_inventario

  Producto  Inventario_actual  Ventas_anuales  Tasa de Rotacion
0   Laptop                200             600               3.0
1    Mouse               1500            1800               1.2
2  Teclado                800             900               1.1
3  Monitor                150             300               2.0

### **Ejercicio 4: Evaluación de Campañas de Marketing**
Se te ha proporcionado un DataFrame con los resultados de diferentes campañas de marketing en términos de alcance y conversiones. Analiza la eficacia de cada campaña para determinar cuál ha tenido el mejor rendimiento en términos de ROI (retorno de inversión).

In [52]:
data_campañas = {
    'Campaña': ['A', 'B', 'C', 'D'],
    'Alcance': [1000, 3000, 2000, 5000],
    'Conversiones': [50, 150, 100, 200],
    'Costo': [500, 1500, 1000, 2500]
}

df_campañas = pd.DataFrame(data_campañas)

In [53]:
#Al no tener el ingreso de la converision, realizamos un ROI en base a logros y costos.
df_campañas['retorno_inverion'] = (df_campañas['Conversiones'] - df_campañas['Costo']) / df_campañas['Costo']

df_campañas

  Campaña  Alcance  Conversiones  Costo  retorno_inverion
0       A     1000            50    500             -0.90
1       B     3000           150   1500             -0.90
2       C     2000           100   1000             -0.90
3       D     5000           200   2500             -0.92

### **Ejercicio 6 (Investigación): Uso del método `melt` en Pandas**

**Investiga cómo se utiliza el método `melt` de pandas para transformar DataFrames de un formato ancho a uno largo.** Crea un DataFrame que represente ventas de varios productos en diferentes meses, utiliza `melt` para cambiar su estructura y analiza cómo podría ser útil este formato para comparaciones o visualizaciones posteriores.

In [54]:
data_ventas = {
    'Producto': ['Laptop', 'Smartphone', 'Tablet'],
    'Enero': [100, 150, 200],
    'Febrero': [110, 120, 180]
}

df_ventas = pd.DataFrame(data_ventas)

In [56]:
#Realizo una trsposicion larga
df_largo=pd.melt(df_ventas,
                 id_vars=['Producto'],
                 value_vars=['Enero', 'Febrero'],
                 var_name='Mes',
                 value_name='Ventas')

df_largo

     Producto      Mes  Ventas
0      Laptop    Enero     100
1  Smartphone    Enero     150
2      Tablet    Enero     200
3      Laptop  Febrero     110
4  Smartphone  Febrero     120
5      Tablet  Febrero     180