In [352]:
# PRACTICO 4

# Ejercicio 1: Limpiar y transofrmar columnas de texto

import pandas as pd

data = {
    'Producto': ['Café', 'té', ' chocolate', ' Cacao '],
    'Precio': [100, 80, 150, 120],
    'Categoría': ['bebidas calientes', 'bebidas calientes', 'snacks dulces', ' bebidas calientes ']
}

df_productos = pd.DataFrame(data)
print(df_productos)

     Producto  Precio            Categoría
0        Café     100    bebidas calientes
1          té      80    bebidas calientes
2   chocolate     150        snacks dulces
3      Cacao      120   bebidas calientes

In [353]:
# Elimino espacios en blanco de columna producto

df_productos = df_productos.replace(' ', '', regex=True)

print(df_productos)

    Producto  Precio         Categoría
0       Café     100  bebidascalientes
1         té      80  bebidascalientes
2  chocolate     150      snacksdulces
3      Cacao     120  bebidascalientes

In [354]:
# Convierte todos los valores de la columna Categoría a mayúsculas.

df_productos['Categoría'] = df_productos['Categoría'].str.upper()
df_productos

    Producto  Precio         Categoría
0       Café     100  BEBIDASCALIENTES
1         té      80  BEBIDASCALIENTES
2  chocolate     150      SNACKSDULCES
3      Cacao     120  BEBIDASCALIENTES

In [355]:
# Reemplaza la categoría 'snacks dulces' por 'postres'.

df_productos['Categoría'] = df_productos['Categoría'].replace('SNACKSDULCES', 'POSTRES', regex=True)

print(df_productos)

    Producto  Precio         Categoría
0       Café     100  BEBIDASCALIENTES
1         té      80  BEBIDASCALIENTES
2  chocolate     150           POSTRES
3      Cacao     120  BEBIDASCALIENTES

In [356]:
# Crea una nueva columna que indique si el precio es mayor o igual a 120. Usa una función lambda para esto.

#df_productos['Precio'] = df_productos['Mascara1'].apply(lambda x: True if x >= 120 else False)

df_productos['PrecioMayorIgual120'] = df_productos['Precio'].apply(lambda x: True if x >= 120 else False)
df_productos

    Producto  Precio         Categoría  PrecioMayorIgual120
0       Café     100  BEBIDASCALIENTES                False
1         té      80  BEBIDASCALIENTES                False
2  chocolate     150           POSTRES                 True
3      Cacao     120  BEBIDASCALIENTES                 True

In [357]:
# EJERCICIO 2
data_empleados = {
    'Nombre': ['Ana', 'Luis', 'Pedro', 'Luis', 'Juan', 'Ana'],
    'Edad': [29, 45, None, 40, 35, 29],
    'Departamento': ['Ventas', 'Finanzas', 'RRHH', 'Finanzas', 'Marketing', None]
}

df_empleados = pd.DataFrame(data_empleados)
print(df_empleados)

  Nombre  Edad Departamento
0    Ana  29.0       Ventas
1   Luis  45.0     Finanzas
2  Pedro   NaN         RRHH
3   Luis  40.0     Finanzas
4   Juan  35.0    Marketing
5    Ana  29.0         None

In [358]:
# Elimina las filas duplicadas en base a la columna Nombre. Quédate con la persona `más joven´.

df_empleados_2 = df_empleados.drop_duplicates(subset='Nombre')

df_empleados_2 = df_empleados_2.sort_values(by='Edad', ascending=True)

df_empleados_joven = df_empleados_2.head(1)

print(df_empleados_joven)

  Nombre  Edad Departamento
0    Ana  29.0       Ventas

In [359]:
# Llena los valores faltantes de la columna Edad con la media de las edades.

edad_media = df_empleados_2['Edad'].mean()
df_empleados_2['Edad'] = df_empleados_2['Edad'].fillna(edad_media).round()
df_empleados_2

print(df_empleados_2)

  Nombre  Edad Departamento
0    Ana  29.0       Ventas
4   Juan  35.0    Marketing
1   Luis  45.0     Finanzas
2  Pedro  36.0         RRHH

In [360]:
# Llena los valores faltantes de la columna Departamento con el valor 'Desconocido'

df_empleados['Departamento'] = df_empleados['Departamento'].fillna("Desconocido")

print(df_empleados)

  Nombre  Edad Departamento
0    Ana  29.0       Ventas
1   Luis  45.0     Finanzas
2  Pedro   NaN         RRHH
3   Luis  40.0     Finanzas
4   Juan  35.0    Marketing
5    Ana  29.0  Desconocido

In [361]:
# Ordena el DataFrame por edad de forma descendente.

df_empleados = df_empleados.sort_values(by='Edad', ascending=False)

print(df_empleados)

  Nombre  Edad Departamento
1   Luis  45.0     Finanzas
3   Luis  40.0     Finanzas
4   Juan  35.0    Marketing
0    Ana  29.0       Ventas
5    Ana  29.0  Desconocido
2  Pedro   NaN         RRHH

In [362]:
# Ejercicio 3: Aplicar funciones a las columnas

data_ventas = {
    'Producto': ['Café', 'Té', 'Jugo', 'Agua'],
    'Precio': [120, 80, 90, 60],
    'Cantidad': [3, 5, 2, 8]
}

df_ventas = pd.DataFrame(data_ventas)

print(df_ventas)

  Producto  Precio  Cantidad
0     Café     120         3
1       Té      80         5
2     Jugo      90         2
3     Agua      60         8

In [363]:
# Calcula el total de ventas (Precio * Cantidad) y agrégalo como una nueva columna.

df_ventas = pd.DataFrame(data_ventas)
df_ventas['Total de ventas'] = df_ventas['Precio'] * df_ventas['Cantidad']

print(df_ventas)

  Producto  Precio  Cantidad  Total de ventas
0     Café     120         3              360
1       Té      80         5              400
2     Jugo      90         2              180
3     Agua      60         8              480

In [364]:
# Crea una nueva columna llamada Descuento que aplique un descuento del 10% si el precio es mayor a 100, y del 5% si es menor o igual a 100. Usa la función apply y una funció

df_ventas['Precio_con_descuento'] = df_ventas['Precio'].apply(lambda x: x * 0.9 if x > 100 else x * 0.95)

print(df_ventas)

  Producto  Precio  Cantidad  Total de ventas  Precio_con_descuento
0     Café     120         3              360                 108.0
1       Té      80         5              400                  76.0
2     Jugo      90         2              180                  85.5
3     Agua      60         8              480                  57.0

In [365]:
# Ejercicio 4: Uso de funciones de cadena

# Dado el siguiente DataFrame de direcciones de clientes:

data_clientes = {
    'Cliente': ['Juan Pérez', 'Ana Ruiz', 'Pedro López'],
    'Dirección': ['calle falsa 123', 'Calle PRINCIPAL 45', 'AV. LOS robles 34']
}

df_clientes = pd.DataFrame(data_clientes)

print(df_clientes)

       Cliente           Dirección
0   Juan Pérez     calle falsa 123
1     Ana Ruiz  Calle PRINCIPAL 45
2  Pedro López   AV. LOS robles 34

In [367]:
# Convierte todos los valores de la columna Dirección a minúsculas.

data_clientes['Dirección'] = [direccion.lower() for direccion in data_clientes['Dirección']]

print(data_clientes)

{'Cliente': ['Juan Pérez', 'Ana Ruiz', 'Pedro López'], 'Dirección': ['calle falsa 123', 'calle principal 45', 'av. los robles 34']}

In [369]:
# Reemplaza las abreviaturas "calle", "av." por "calle" y "avenida" respectivamente.

# Assuming data_clientes['Dirección'] is a list of strings
data_clientes['Dirección'] = [direccion.replace('av.', 'Avenida').replace('calle', 'Calle') for direccion in data_clientes['Dirección']]

print(data_clientes)

{'Cliente': ['Juan Pérez', 'Ana Ruiz', 'Pedro López'], 'Dirección': ['Calle falsa 123', 'Calle principal 45', 'Avenida los robles 34']}

In [371]:
# Extrae el número de la dirección y guárdalo en una nueva columna llamada Número.

data_clientes = pd.DataFrame({
    'Dirección': [
        'av. 1234 Main St',
        'calle 5678 Elm St',
        'Avenida 9101 Oak St'
    ]
})

data_clientes['Número'] = data_clientes['Dirección'].str.extract('(\d+)')

print(data_clientes)

             Dirección Número
0     av. 1234 Main St   1234
1    calle 5678 Elm St   5678
2  Avenida 9101 Oak St   9101

<>:11: SyntaxWarning: invalid escape sequence '\d'
<>:11: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Asus\AppData\Local\Temp\ipykernel_2876\2783994386.py:11: SyntaxWarning: invalid escape sequence '\d'
  data_clientes['Número'] = data_clientes['Dirección'].str.extract('(\d+)')