#### **Ejercicio 1: Creación y manipulación de Series**
1. Crea una Serie que contenga las ventas de una tienda de lunes a viernes. Utiliza las siguientes cantidades:
   - Lunes: 100
   - Martes: 150
   - Miércoles: 200
   - Jueves: 50
   - Viernes: 300
   
2. Realiza las siguientes operaciones sobre la Serie:
   - Accede al valor de las ventas del miércoles.
   - Calcula el total de ventas de la semana.
   - Filtra los días donde las ventas fueron mayores a 100.

In [12]:
import pandas as pd

Serie = pd.Series ({'Lunes': 100, 'Martes': 150, 'Miercoles': 200, 'Jueves': 50, 'Viernes': 300})

print(Serie['Miercoles'])

200

In [7]:
# Total de ventas de la semana

suma = print(Serie.sum())

800

In [8]:
# Filtro días donde ventas fueron mayores a 100

print(Serie[Serie > 100])

Martes       150
Miercoles    200
Viernes      300
dtype: int64

In [9]:
# Ejercicio 2
# Creo un dataframe

dataFrame = {'Nombre': ['Ana', 'Luis', 'María'], 'Edad': [23, 35, 29]}  
dataFrame = pd.DataFrame(dataFrame, columns=['Nombre', 'Edad'])

In [11]:

# Accedo a la columna

print(dataFrame['Nombre'])

# Filtro valores

print(dataFrame[dataFrame['Edad'] > 25])

0      Ana
1     Luis
2    María
Name: Nombre, dtype: object
  Nombre  Edad
1   Luis    35
2  María    29

#### **Ejercicio 3: Cálculos con DataFrames**
1. Crea un DataFrame con información de ventas de productos en una tienda:
   - Productos: "Laptop", "Mouse", "Teclado"
   - Ventas: 30, 120, 75
   - Precio por unidad: 1000, 50, 80

2. Calcula:
   - La venta total para cada producto (multiplicando el precio por unidad por las ventas).
   - El total de ingresos para todos los productos.

In [13]:
# Ejercicio 3
# Creo un dataframe

dataFrame2 = {'Productos': ['Laptop', 'Mouse', 'Teclado'], 'Ventas': [30, 120, 75], 'Precio por unidad': [1000, 50, 80], }  
dataFrame2 = pd.DataFrame(dataFrame2, columns=['Productos', 'Ventas', 'Precio por unidad'])

In [14]:
dataFrame2['Venta total'] = dataFrame2['Ventas'] * dataFrame2['Precio por unidad']

print(dataFrame2)

  Productos  Ventas  Precio por unidad  Venta total
0    Laptop      30               1000        30000
1     Mouse     120                 50         6000
2   Teclado      75                 80         6000

In [15]:
# Suma de ventas de todos los productos

sumaProductos = dataFrame2['Venta total'].sum()
print(sumaProductos)

42000

Ejercicio 4: Transformación y limpieza de datos en DataFrames
Crea un DataFrame con información de estudiantes y sus calificaciones en tres materias:

Estudiantes: "Ana", "Luis", "María", "Carlos"
Matemáticas: 90, 85, None, 78
Ciencia: 88, 92, 85, None
Historia: 75, None, 80, 90
Realiza las siguientes operaciones:

Rellena los valores faltantes con la media de cada columna.
Renombra las columnas de las materias en inglés (Math, Science, History).
Calcula la calificación promedio de cada estudiante.

In [17]:
# Ejecicio 4
# Datos de los estudiantes y sus calificaciones
data = {
    'Estudiante': ['Ana', 'Luis', 'María', 'Carlos'],
    'Matemáticas': [90, 85, None, 78],
    'Ciencia': [88, 92, 85, None],
    'Historia': [75, None, 80, 90]
}

# Creación del DataFrame
df_estudiantes = pd.DataFrame(data)

# Mostrar el DataFrame
print(df_estudiantes)

  Estudiante  Matemáticas  Ciencia  Historia
0        Ana         90.0     88.0      75.0
1       Luis         85.0     92.0       NaN
2      María          NaN     85.0      80.0
3     Carlos         78.0      NaN      90.0

In [21]:
# Calculo la media para cada columna, para luego sustituir valores nan con medias

# Calcular la media para cada columna
media_matematicas = df_estudiantes['Matemáticas'].mean()
media_ciencia = df_estudiantes['Ciencia'].mean()
media_historia = df_estudiantes['Historia'].mean()

# Sustituir valores NaN con las medias calculadas
df_estudiantes['Matemáticas'].fillna(media_matematicas, inplace=True)
df_estudiantes['Ciencia'].fillna(media_ciencia, inplace=True)
df_estudiantes['Historia'].fillna(media_historia, inplace=True)

# Si deseas agregar columnas nuevas con las medias (opcional)
df_estudiantes['Media_Matemáticas'] = media_matematicas
df_estudiantes['Media_Ciencia'] = media_ciencia
df_estudiantes['Media_Historia'] = media_historia

print(df_estudiantes)

  Estudiante  Matemáticas    Ciencia   Historia  Media_Matemáticas  \
0        Ana    90.000000  88.000000  75.000000          84.333333
1       Luis    85.000000  92.000000  81.666667          84.333333
2      María    84.333333  85.000000  80.000000          84.333333
3     Carlos    78.000000  88.333333  90.000000          84.333333

   Media_Ciencia  Media_Historia
0      88.333333       81.666667
1      88.333333       81.666667
2      88.333333       81.666667
3      88.333333       81.666667

C:\Users\Asus\AppData\Local\Temp\ipykernel_4864\2887254437.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_estudiantes['Matemáticas'].fillna(media_matematicas, inplace=True)
C:\Users\Asus\AppData\Local\Temp\ipykernel_4864\2887254437.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_estudiantes['Ciencia'].fillna(media_ciencia, inplace=True)
C:\Users\Asus\AppData\Local\Temp\ipykernel_4864\2887254437.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_estudiantes['Historia'].fillna(media_historia, inplace=True)

In [23]:
# Renombro los nombres de las variables

df_estudiantes.rename(columns={
    'Nombre': 'Name',
    'Student': 'Estudiante',
    'Math': 'Matemáticas',
    'Science': 'Ciencia',
    'History': 'Historia'
}, inplace=True)

# Printing the DataFrame after renaming
print(df_estudiantes)

  Estudiante  Matemáticas    Ciencia   Historia  Media_Matemáticas  \
0        Ana    90.000000  88.000000  75.000000          84.333333
1       Luis    85.000000  92.000000  81.666667          84.333333
2      María    84.333333  85.000000  80.000000          84.333333
3     Carlos    78.000000  88.333333  90.000000          84.333333

   Media_Ciencia  Media_Historia
0      88.333333       81.666667
1      88.333333       81.666667
2      88.333333       81.666667
3      88.333333       81.666667